# Python 기초문법 정리

### 파이선을 프로그램하기 위한 기초문법 정리
1. List 만들기
2. Dataframe 만들기
3. Dataframe Column이름 바꾸기
4. Dataframe의 ROW에 일정한 값 곱하거나 더하기
5. Dataframe ROW 삭제하기
6. 딕션어리 만들기
7. Dataframe을 CSV로 저장하기
8. 반복문
9. 조건문
10. 딕션어리를 이용하여 리스트 만들고 Dataframe으로 변경하기

## 1. List 만들기

In [1]:
import pandas as pd

In [2]:
data = [[1,2,3,4],[5,6,7,8]]

In [3]:
print(data)
print(data[0])
print(data[1])
print(data[0][1])  #리스트를 행열로 지정하여 추출할 때 사용한다.
print(data[1][2])

[[1, 2, 3, 4], [5, 6, 7, 8]]
[1, 2, 3, 4]
[5, 6, 7, 8]
2
7

## 2. Dataframe 만들기

In [4]:
df = pd.DataFrame(data)

In [5]:
print(df)

   0  1  2  3
0  1  2  3  4
1  5  6  7  8

In [6]:
print(df[1])
print(df[1][0])
print(df[3][1]) # Dataframe을 행열로 지정하여 추출항때 사용한다.

0    2
1    6
Name: 1, dtype: int64
2
8

## 3. Dataframe Column 이름 바꾸기

In [7]:
df.columns=["A","B","C","D"]

In [8]:
print(df)

   A  B  C  D
0  1  2  3  4
1  5  6  7  8

## 4. Dataframe의 Row에 일정한 값 곱하거나 더하기

In [9]:
df["A"] = df["A"] * 2
df["B"] = df["B"] + 2
print(df)

    A  B  C  D
0   2  4  3  4
1  10  8  7  8

## 5. Dataframe ROW 삭제하기

In [10]:
df=df.drop(df.index[0]) # 첫번째 Row 0번부터

In [11]:
print(df)

    A  B  C  D
1  10  8  7  8

## 6. 딕션어리 만들기

In [12]:
d={"A":"1","B":"2","C":"3"}

In [13]:
print(d["A"])
print(d["B"])

1
2

## 7. CSV 파일 저장하기

In [14]:
user_id = "lee439"
outputfile ='%s_userinfo_ismart.csv'%(user_id)  # %s에 user_id를 삽입하여 파일명을 만든다 ( %(user_id) )
df.to_csv(outputfile, encoding='UTF-8', index=False)

## 8. 반복문 (for)

In [15]:
for i in range(1,3) :   # 파이선은 0부터 시작하므로 1부터 세번째까지 이므로 0,1 ,2 이다 따라서 1부터 2까지 나타낸다
    print(i)

1
2

In [16]:
a = ["A","B","C"]
for i in a : # 문자열을 순차적으로 적용할 경우에 사용한다.
    print(i)

A
B
C

## 9. 조건문

In [17]:
i = 1
if i == 1 :
    print("1입니다.")
else :
    print("1이 아닙니다.")

1입니다.

## 10. 딕션어리를 이용하여 리스트 만들고 Dataframe으로 변경하기

In [48]:
# 리스트 및 딕션어리를 초기화 한다.
l=[]
d={}

# 임의의 데이터를 List로 만든다.
a = [[100,200,300,400],[101,201,301,401]]

# 딕션어리를 이용하여 각각의 값을 입력한다.
d["강아지"] = a[0][0]
d["고양이"] = a[0][1]
d["너구리"] = a[0][2]
d["곰돌이"] = a[0][3]

# 딕션어리에 있는 자료를 리스트에 입력한다.
l.append(d)

d={}
# 딕션어리를 이용하여 각각의 값을 입력한다.
d["강아지"] = a[1][0]
d["고양이"] = a[1][1]
d["너구리"] = a[1][2]
d["곰돌이"] = a[1][3]
# 딕션어리에 있는 자료를 리스트에 입력한다.
l.append(d)

# 리스트를 Dataframe으로 바꾼다.
df = pd.DataFrame(l)
print(df)

   강아지  고양이  곰돌이  너구리
0  100  200  400  300
1  101  201  401  301